.tabsMotion-tabsname-div{
  
    display: flex;
    justify-content: space-evenly;
}
.tabsMotion-tabsname-div button {
    font-size: 18px;  
    color: #020000;  
    background: none;  
    border: none;  
    cursor: pointer;  
    padding: 10px;  
    transition: background 0.3s;  
}

.tabsMotion-tabsname-div button:hover {
    background-color: #444;  
}

.tabsMotion-tabsname-div button:focus {
    outline: none;  
}
.tabsMotion-tabsname-div button.active {
    font-weight: bold; 
    border-bottom:1px solid #020000;  
}
.labelBar-container{
    width: 404px;
    height: 26px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;

}
.labelBar-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -1.4%;
}
.labelBar-viewmore{
   
    height: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -1.4%;
    color: #7F56D9;
    white-space: nowrap;
    text-align: right;
}