.tabsMotion-tabsname-div{
  
    display: flex;
    justify-content: space-evenly;
}
.tabsMotion-tabsname-div button {
    font-size: 18px;  
    color: #020000;  
    background: none;  
    border: none;  
    cursor: pointer;  
    padding: 10px;  
    transition: background 0.3s;  
}

.tabsMotion-tabsname-div button:hover {
    background-color: #444;  
}

.tabsMotion-tabsname-div button:focus {
    outline: none;  
}
.tabsMotion-tabsname-div button.active {
    font-weight: bold; 
    color: #ff0000;  
}