.horizontalScrollableList-container{
    width: 304px;
    height: 129.79px;
    gap: 9.91px;
    flex-direction: column;
    display: flex;
    overflow: hidden; 
}
.horizontalScrollableList-toprow{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}
.horizontalScrollableList-toptext{
    font-size: 11.15px;
    font-weight: 500;
    line-height: 14.87px;
    letter-spacing: -1.4%;
    color: #1B1D21;
    margin-left: 5px;
}
.horizontalScrollableList-scroll {
    display: flex;
    overflow-x: hidden;  
    white-space: nowrap;
    width: 300px; 
}
.horizontalScrollableList-scroll > .carItemDisplay-container {
    flex-shrink: 0;
}
.horizontalScrollableList-vectors-div{
    width: 34.7px;
    height: 14.87px;
    justify-content: space-evenly;
    gap: 4.96px;
    flex-direction: row;
    display: flex;
}
.horizontalScrollableList-onevector-div{
    width: 14.87px;
    height: 14.87px;
    justify-content: center;
    align-items: center;
}
.horizontalScrollableList-vector{
    width: 7.44px;
    height: 7.44px;
    border: 1.24px rgba(3, 14, 49, 0.54) ;
}