.carItemDisplay-container{
    flex-direction: column;
    padding: 3px 4px 3px 4px;
    justify-content: center;
    width: 98px;
    position: relative;
    border: 0.62px solid #EFEFEF;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 7px;
    display: flex;
}
.carItemDisplay-image{
    width: 84px;
    height: 60px;
    border-radius: 2px;
    overflow: hidden;
}
.carItemDisplay-info-div{
    height: auto;
    width: auto;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start;
}
.carItemDisplay-car-type{
     font-family: 'Satoshi', sans-serif;
    font-weight: 300;
    font-size: 9px;
    line-height: 16px;
    letter-spacing: -1.4%;
    color: rgba(3, 14, 49, 0.54);
    white-space: nowrap;
    overflow: hidden;         
    margin-left: 0;
    padding-left: 0;
    text-align: left; 
    width: 84px;
    height: 16px;
    font-weight: 200;
}
.carItemDisplay-price-range{
    width: 84px;
    height: 15px;
    font-weight: 500;
    font-size: 8px;
    line-height: 15px;
    letter-spacing: -1.7%;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;         
    margin-left: 0;
    padding-left: 0;
    text-align: left; 
}
.carItemDisplay-issold-div{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 30px;
    height: 17px;
    border-radius: 5px;
    padding: 3px 6px 3px 6px;
    gap: 4px;
    background-color:  #FF5656;
    justify-content: center;
    align-items: center;
}
.carItemDisplay-issold-text{
    font-family: 'Satoshi', sans-serif;
   
    font-size: 9px;
    line-height: 11px;
    letter-spacing: -1.4%;
    color: #ffffff;
    user-select: none;
 
}